/* 
Program Name: mis3371hw3.css
Author: Faviana A Duran
Date Created: April 10, 2026
Date Last Edited: April 17, 2026
Version: 1.0
Description: This is a style sheet to make the patient registration form more appealing to the eye
*/
